/*.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}*/
/** HEADER **/
#header-nav {
  background-color: #330066;
  border-radius: 0;
  border: 0;
}

#navbar-name{
	color:white;
	text-align: left;
}

#navbar-list a{
	color:white;
}

#navbar-list a:hover{
	background-color: #8c1aff;
}

div#Chicken, div#Beef, div#Sushi{
	margin-bottom:25px;
	padding: 10px;
	background: #e5ccff;
}

div#Chicken h2, div#Beef h2, div#Sushi h2{
	text-align: center;
	margin:0px;
	margin-bottom: 5px;
}

div#BTP{
	text-align: center;
	margin-bottom: 15px;
}
div#BTP a{
	text-align: center;
	background:#330066;
	color:white;
	padding:10px;
}

div#BTP a:hover{
	text-decoration: none;
}